@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto+Mono:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #0AFFB2;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%233A0000' stroke-width='100' stroke-opacity='0.15' %3E%3Ccircle fill='%230AFFB2' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%2300f1b8' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%2300e2bc' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%2300d3c0' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%2300c4c1' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%2300b4c1' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%2300a5bf' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%230095ba' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%230086b4' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%230077ab' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%230068a1' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%23005994' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%23004a86' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%23003c77' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%23002e67' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%23002155' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%23001444' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%23060033' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
}
.container{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
    color: rgb(208, 246, 240);
}
.heading{
    font-size: 35px;
}
.container .community{
    margin-top: 50px;
}
.container .community ul h3{
    font-size: 25px;
    padding-left: 30px;
}
.container .community ul li{
    text-decoration: none;
    list-style: none;
    padding-left: 50px;
    font-size: 18px;
}
.container .community .area2 li{
    padding-left: 70px;
}
.container .community .area3 li{
    padding-left: 70px;
}

@media screen and (max-width: 1250px){
    *{
        margin: 0;
        padding: 0;
    }
    .container{
        padding: 40px;
    }
    .container .community{
        margin-top: 0px;
    }
    .container .community ul h3{
        font-size: 20px;
    }
    .heading{
        font-size: 28px;
    }
    .container .community ul li{
        font-size: 18px;
        padding: 5px;
    }
    .Areas h3{
        margin-left: -4%;
    }
    .Areas li{
        margin-left: -10%;
    }

}

/* CSS code for the footer of community page */
  .footer-container{
    max-width: 1170px;
    margin:auto;
  }
  .row{
    display: flex;
    flex-wrap: wrap;
  }
  ul{
    list-style: none;
  }
  /* .footer{
    background-image: linear-gradient(145deg, #0039e4, #04dbf1);
    padding: 70px 0;
  } */
  .footer-col2{
    width: 25%;
    padding: 0 20px;
  }
  .footer-col2 img{
    width: 250px;
    height: 250px;
  }
  .footer-col2 h4{
    font-size: 22px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 550;
    position: relative;
  }
  .footer-col2 h4::before{
    content: '';
    position: absolute;
    left:0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
  }
  .footer-col2 ul li:not(:last-child){
    margin-bottom: 10px;
  }
  .footer-col2 ul li a{
    font-size: 18px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 400;
    /* color: #bbbbbb; */
    display: block;
    transition: all 0.3s ease;
  }
  .footer-col2 ul li a:hover{
    color: #ffffff;
    padding-left: 8px;
  }
  .footer-col2 .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    padding-top: 12px;
    font-size: 18px;
    background-color: rgba(255,255,255,0.2);
    margin:0 8px 8px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
  }
  .footer-col2 .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;
  }

  /*responsive*/
  @media(max-width: 767px){
    .footer-col2{
      width: 50%;
      margin-bottom: 30px;
    }
    .footer-col2 img{
      width: 150px;
      height: 150px;
    }
  }
  @media(max-width: 574px){
    .footer-col2{
      width: 100%;
    }
  }
